<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - RotativaAspNetCoreDemo</title>
    <link rel="stylesheet" href="~/css/export.css" />
</head>

<body>
    <main role="main">
        @RenderBody()
    </main>
</body>

</html>
